html {
  font-size: 62.5%;
}
@media (min-width: 1200px) {
  html {
    font-size: 68%;
  }
}

header {
  color:#222;
  font-family: arial, sans-serif;
  margin:0 10px 0 10px;
  border-radius:3px;
  display: inline;
  height: 5rem;
background: url(https://cdn.hyperdev.com/us-east-1%3A504f3f48-4190-4ed1-ac39-6e74e458cb58%2Fbirdy2.png?1474684704779);
  

}
.header img {
  margin-top: 0rem;
   float: left;
  width: 30%;
}
.header h1 {
  position: relative;
}
 
 
body {
  color:#222;
  font-family:  arial, sans-serif;
  background-color: #eeffff;
  border-radius:3px;
  max-width: 68%;
}
  
footer{
  color:#222;
  font-family: arial, sans-serif;
  border-radius:3px;
  
}

.main {
  margin: 0 auto 0 auto;
  overflow: auto;

}

.wire {
  
  border:solid #ad88e6 2px;
  border-shadow: box;
  padding: 1rem .3rem 1rem .7rem;
  border-radius: 3px;
  margin: 0px auto auto 5px;
  
}
.land-down {
    border-radius:0px 0px 10px 10px;
}
.pad{
  color: #222;
  max-width: 100%;
  border:solid #ad88e6 2px;
  border-bottom: none;
  border-shadow: box;
  padding: .2rem .3rem .2rem .7rem;
  border-radius:10px;
  margin: 5px auto auto 5px;
}
.add-bottom {
  border-bottom: solid #ad88e6 2px;
}
.land-up{
  border-radius:9px 9px 0px 0px;
}

#primary {
  background: #333;
  -webkit-animation: mymove 5s; /* Chrome, Safari, Opera */
  animation: mymove 5s;
}

h1 {
  font-weight:bold;
  font-size:3.5rem;
  background:"transparent";
  padding-top:3rem;
}

h2 {
  font-weight:bold;
  font-size:3.3rem;
  padding: .2rem .3rem .2rem .7rem;
 margin: 5px auto auto 5px;
}
h3  {
  font-size:1.8rem;
  font-weight: 100;
  padding: .2rem .3rem .2rem .7rem;
  margin: 5px auto auto 5px;
}


h4 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: .2rem .3rem .2rem .7rem;
}

form {
  background: none;
  border: #ad88e6;
}



.accent {
  border-right: #eef solid 2px;
  border-bottom: #ad88e6 solid 2px;
}

 .no-border {
  border: none;
}


label {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size:16px;
    line-height:2rem;
    padding-left:5px;
    color:#88a7ac;
}





.book-cover {
  
  margin:5px;
  border-radius:10px;
  border: white 3px solid;
  display:inline-block;
  max-width: 150px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: bold;
}


p {
  margin-left: 1rem;
  line-height: 1.5rem;
  font-size: 1.3rem;  
}



button, input {
  font-size:2rem;
  padding:5px 0 5px 5px;
  border-radius:3px;
}

input {

  border:solid #666 1px;
  margin:.7rem 0px 0px .3rem ;
 
}

input:focus {
  background:#fef;
  border: solid #ffee55 1px;
}

textarea {
  border:solid #555 2px;
  border-radius: 6px;
  padding: 10px;
  margin: 5px auto 5px auto;
  width: 60%;
  height: 200px;
  display: inline-block;
  align: right;
  font-size:18px;
}

button {
  line-height: 23px;
  color:white;
  background-color:#555;
  border: #444 solid 1px;
  box-shadow: 1px 1px 0 #444;
  padding:3px 10px 3px 10px;
  cursor: pointer;
  margin:.7rem .5rem 10px .5rem ;
  
}



button:hover {
  color:black;
  text-decoration:none;
  background-color:#efc;
  font-weight:230;
  box-shadow: 2px 3px 0 #222;
}

button:active {
  background-color:#efc;
  transform: translate(2px, 3px) ;

  
}
.button-submit {
  line-height: auto;
  border: #444 solid 2px;
  box-shadow: 1px 1px 0 #444;
  padding:0;
  cursor: pointer;
  margin:0;
  font-size:1rem;
  border-radius:6px;
  min-width: none;
  display:inline-block;
  float:left;
}


.white {
  color: white;
  
}
.extra-space {
  display:inline-block; 
  padding-bottom:10px;
}
.footer {
  position: fixed;
  right: 0;
  bottom:90%;
  left: 70%;
  padding: 0;
  text-align: center;
}

.book-card {
  position: fixed;
  bottom: 60%;
  left:70%;
  padding: 0
}
.foot {
  margin: 20% 0 0 0;
}

.clipboard {
  display:block; 
  background: lightblue; 
  color:#444;
}

.box {
  
  background:#fff; 
  border: solid #ad88e6 3px; 
  border-shadow: box; 
  border-radius: 6px;
  margin: 10px 6px 0 0px;
}

.purple {
  color: #bb2299;
  background-color:lightblue}


#headline {
  
  opacity: 0;
  display: block;
  margin: 0 auto 0 auto;
}

.white-button, .list{
  background: #fff;
  color: black;
  font-weight: 200;
}
.greyed {
  background: #eee;
  color: #aaa;
  font-weight: 100
}

.first, .second {
  display: none;
}

.hidden, .hidden-forever {
  visibility:hidden;
}

.blue {
  background: #777;
  color: blue;
}

.header, .body {
  
  width: 80%;
  
  background: none;
  
}

.large-button {
  line-height: 50px;
  padding: 20px;
}
