html {
  font-size: 62.5%;
}
@media (min-width: 1200px) {
  html {
    font-size: 68%;
  }
}

header {
  color:#222;
  font-family: arial, sans-serif;
  margin:0 10px 0 10px;
  border-radius:3px;
  display: inline;

}

body {
  color:#222;
  font-family:  arial, sans-serif;
  background-color: #eeffff;
  border-radius:3px;
  
}
footer{
  color:#222;
  font-family: arial, sans-serif;
  border-radius:3px;
  
}

main {
  margin: 0 auto 0 auto;
    max-width: 50rem;
    overflow: auto;

}

.wire {
  
  border:solid #ad88e6 2px;
  border-shadow: box;
  padding: 1rem .3rem 1rem .7rem;
  border-radius: 3px;
  margin: 0px auto auto 5px;
  
}
.land-down {
    border-radius:0px 0px 10px 10px;
}
.pad{
  color: #222;
  max-width: 100%;
  border:solid #ad88e6 2px;
  border-bottom: none;
  border-shadow: box;
  padding: .2rem .3rem .2rem .7rem;
  border-radius:10px;
  margin: 5px auto auto 5px;
}
.add-bottom {
  border-bottom: solid #ad88e6 2px;
}
.land-up{
  border-radius:9px 9px 0px 0px;
}

#primary {
  background: #333;
  -webkit-animation: mymove 5s; /* Chrome, Safari, Opera */
  animation: mymove 5s;
}

h1 {
  font-weight:bold;
  font-size:4.5rem;
  background:"transparent";
  padding-top:3rem;
}

h2 {
  font-weight:bold;
  font-size:3.3rem;
  padding: .2rem .3rem .2rem .7rem;
  text-align: center;
}

h3  {
  font-size:1.7rem;
  font-weight: 100;
  padding: .2rem .3rem .2rem .7rem;
  margin: 5px auto auto 5px;
}


h4 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: .2rem .3rem .2rem .7rem;
}

form {
  background: none;
  border: #ad88e6;
}



.accent {
  border-right: #eef solid 2px;
  border-bottom: #ad88e6 solid 2px;
}

 .no-border {
  border: none;
}


label {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size:16px;
    line-height:2rem;
    padding-left:5px;
    color:#88a7ac;
}

img {
  width: 100%
}



.book-cover {
  width: 25%;
  margin:5px;
  border-radius:10px;
  border: white 3px solid;
}

a {
  color:#ad3888;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color:blue;
}
a:visited {
   text-decoration: underline;
  color:blue;
}


p {
  margin-left: 1rem;
  line-height: 2rem;
  font-size: 1.6rem;  
}



a {
  color: #3652d3;
  text-decoration: none;
}

a:hover {
  text-decoration: none;

}


button, input {
  font-size:2rem;
  padding:5px 0 5px 5px;
  font-size:2rem;
  border-radius:3px;
}

input {

  border:solid #666 1px;
  margin:.7rem 0px 0px .5rem ;
 
}

input:focus {
  background:#fef;
  border: solid #ffee55 1px;
}

textarea {
  width:90%;
  height:60%;
  border:solid #ffeeee 2px;
  border-radius: 6px;
  margin: 5px auto 5px auto;
  display:block;
  
}

button {
  line-height: 33px;
  color:white;
  background-color:#555;
  border: #444 solid 1px;
  box-shadow: 1px 1px 0 #444;
  padding:3px 10px 3px 10px;
  cursor: pointer;
  margin:.7rem 0px 10px .5rem ;
  
}



button:hover {
  color:black;
  text-decoration:none;
  background-color:#efc;
  font-weight:230;
  box-shadow: 2px 3px 0 #222;
}

button:active {
  background-color:#efc;
  transform: translate(2px, 3px) ;

  
}
.button-submit {
  line-height: auto;
  border: #444 solid 2px;
  box-shadow: 1px 1px 0 #444;
  padding:0;
  cursor: pointer;
  margin:0;
  font-size:1rem;
  border-radius:6px;
  min-width: none;
  display:inline;
  float:left;
}


.white {
  color: white;
  
}
.extra-space {
  display:block; 
  padding-bottom:10px;
}
.footer {
  position: fixex;
  right: 0;
  bottom: 0px;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.foot {
  margin: 20% 0 0 0;
}

.clipboard {
  display:block; 
  background: lightblue; 
  color:#444;
}

.box {
  width: 80%;
  background:#fff; 
  border: solid #ad88e6 3px; 
  border-shadow: box; 
  border-radius: 6px;
   margin: 0 6px 0 0px;
}

.small {
 padding: 0px;
min-width: 0px;
  
}

.purple {
  color: #bb2299
}

.center {
  text-align: center
}

#headline {
  width: 80%;
  opacity: 0;
  display: block;
  margin: 0 auto 0 auto;
}

.white-button, .list{
  background: #fff;
  color: black;
  font-weight: 200;
}
.greyed {
  background: #eee;
  color: #aaa;
  font-weight: 100
}

.first, .second {
  display: none;
}

.hidden, .hidden-forever {
  display: none;
}

.blue {
  background: #777;
  color: blue;
}

textarea {
  width: 300px;
  height: 150px;
  display: inline;
  align: right;
}
